venv/
.venv/
.env
.env.local
*.pyc
__pycache__/

instance/

.pytest_cache/
.coverage
htmlcov/

dist/
build/
*.egg-info/
**/*.ipynb

frontend/node_modules/
.babelrc
webpack.config.js
gaussian_tester.ipynb
vercel.json