<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" type="text/css" href="./../static/styles.css"/>
<script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
<script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
<title>About</title>
<body>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li class="dropdown">
                <button class="dropbtn">Simulations
                    <i class="fa fa-caret-down"></i>
                </button>
                <div class="dropdown-content">
                    <a href="/simulation1">Rectangular Barrier</a>
                    <a href="/simulation3">Rectangular Well</a>
                    <a href="/simulation2">Parabolic Barrier</a>
                </div>
            </li>
            <li><a href="/methods">Methods</a></li>
            <li><a href="/about">About</a></li>
        </ul>
    </nav>
    <div class="container">
        <div class="content">
            <p>(will add text here)</p>
        </div>
    </div>
</body>
</head>
</html>