<!-- The main page of your application where users can navigate to different simulations. -->
<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" type="text/css" href="./../static/styles.css"/>
<title>QM Wave Propagation</title>
</head>
<body>
<nav>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/about">About</a></li>
    </ul>
</nav>
<div class="container">
  <div class="title">
    <h1>Gaussian Wave Packet Propagation Simulations</h1>
  </div>
  <div class="content">
    <p>Simulation directory
      <ul>
        <li><a href="/simulation1">Rectangular Barrier</a></li>
        <li><a href="/simulation2">Rectangular Well</a></li>
        <li><a href="/simulation3">Non-Rectangular Well</a></li>
      </ul>
    </p>
    <p>
      Learn more <a href="/about">about this project</a>. (to-be edited)
    </p>
  </div>  
</div>
</body>
</html>
