<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" type="text/css" href="./../static/styles.css"/>
<script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
<script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
<title>QM Wave Propagation</title>
</head>
<body>
<nav>
    <ul>
        <li><a href="/">Home</a></li>
        <li class="dropdown">
            <button class="dropbtn">Simulations</button>
            <div class="dropdown-content">
                <a href="/simulation1">Rectangular Barrier</a>
                <a href="/simulation3">Rectangular Well</a>
                <a href="/simulation2">Parabolic Barrier</a>
            </div>
        </li>
        <li><a href="/methods">Methods</a></li>
        <li><a href="/about">About</a></li>
    </ul>
</nav>
<div class="container">
    <div class="content">
        <h2>Methods</h2>
    </div>
    <div class="eqn-content">
        <div class="eqn-section">
            <div class="eqn">
                <h3>Hamiltonian operator</h3>
                <p>\( \hat H = \hat T+ \hat V = \frac{\mathbf{\hat p \cdot \hat p}}{2m} + V(\mathbf{r}, t) =-\frac{\hbar^2}{2m} \nabla^2 + V(\mathbf{r}, t) \)</p>
            </div>
            <div class="eqn">
                <h3>Time-dependent Schrödinger Equation</h3>
                <p>\( i \hbar \frac{\partial}{\partial t}\Psi(\mathbf{r},t) = \hat H \Psi(\mathbf{r},t) \)</p>
            </div>
            <div class="eqn">
                <h3>General solution to time-dependent Schrödinger equation</h3>
                <p>\( \Psi(x,t) = \frac{1}{\sqrt{2\pi}} \int_{-\infty}^{\infty}\Phi(k)\Psi_{k}(x,t)dk \)</p>
            </div>
        </div>
        <div class="eqn-section">
            <ul>
                <li>\(\hbar\) is Planck’s constant</li>
                <li>\(m\) is the mass of the particle</li>
                <li>\(V(\mathbf{r}, t)\) is the potential energy</li>
                <li>\(\Psi(\mathbf{r},t)\) is a time-dependent wave function</li>
                <li>\(\hat H\)  is the Hamiltonian operator</li>
                <li>\(\nabla^{2}\) is the Laplacian operator</li>
            </ul>
        </div>
    </div>
    <div class="content" style="margin-bottom: 0;">
        <p>In quantum mechanics, we use the time-dependent Schrödinger equation 
            $$ i \hbar \frac{\partial}{\partial t} \Psi(\mathbf{r},t) = \hat H \Psi(\mathbf{r},t) $$
            to analyze the time evolution of a wave function \(\Psi(\mathbf{r},t)\). \(\Psi(\mathbf{r},t)\) is special because \(|\Psi(\mathbf{r},t)|^2\)
            is the probability density of the particle's position, and \(\int_{a}^{b} | \Psi(\mathbf{r},t)|^2dx\) 
            is equal to the probability of observing a particle between \((a, b)\) at some time \(t\); in other words, 
            we can see how a quantum state of a particle should change in time in response to its environment and some applied potential. 
            We also have a normalization condition \(\int_{-\infty}^{\infty} | \Psi(\mathbf{r},t)|^2dx =1\) which tells us the particle is definitely *somewhere*.
        </p>
        <p>For the sake of simplicity, we will work in one spatial dimension (\(x\)), so 
            
            $$\Psi(\mathbf{r},t) \implies \Psi(x,t)$$ $$\hat H = -\frac{\hbar^2}{2m} \nabla^2 + V(\mathbf{r}, t) \implies \hat H =  -\frac{\hbar^2}{2m}\frac{d^2}{dx^2} + V(x,t),$$ 

            and \(\Psi(x,t)\), our general solution to the time-dependent Schrödinger equation becomes the integral over the continuous variable 
            k for each stationary state \(\Psi_k\):

            $$ \Psi(x,t) = \frac{1}{\sqrt{2\pi}} \int_{-\infty}^{\infty}\Phi(k)\Psi_{k}(x,t)dk $$ where

            $$ \Psi_{k}(x,t) = e^{i(kx-\frac{\hbar k^2}{2m}t)} = e^{i(kx-\frac{E_{k}}{\hbar}t)} $$ represents a stationary state.
        </p>
        <p>So typically in quantum mechanics we have some initial condition \(\Psi(x,0)\) and need to find \(\Psi(x,t)\). In these simulations, we will construct our initial condition
        to be a normalized (skipping normalization steps) wavefunction of a Gaussian wave packet, centered on \(x=\mu\):

        $$\Psi(x, 0)=\frac{e^{i\phi}}{(2\pi\sigma^2)^{1/4}}e^{-\frac{(x-\mu)^2}{4\sigma^2}},$$
        where</p>
        <ul>
            <li>\(\phi\) represents some arbitary real phase-angle,</li>
            <li>\(\mu\) represents the mean or central value of the distribution, which determines where the peak of the curve is located on the x-axis,</li>
            <li>\(\sigma\) represents the standard deviation, which determines the spread or width of the curve, and</li>
            <li>\(\phi\) is the phase of the exponential, and is proportional to the product of a wavevector \(k_{0}\) and the position \(x\).</li>
        </ul>  
        <p>Now that we have our Gaussian wavefunction, we can construct the Hamiltonian

            $$H=-\frac{\hbar^{2}}{2m}\nabla^{2} + V(x)$$

            letting \(\hbar\) = 1 and \(m\) = 1 for simplicity. Notice that we have a 1D Laplacian operator,

            $$\nabla^{2} \equiv \frac{\partial^2 f}{\partial x^2}$$

            which will have to be discretized to solve the Schrodinger equation numerically.
        </p> 
    </div>
    <div class="collapsible">
        <h2>Aside on Discretization and Types of Numerical Methods</h2>
    </div>
    <div class="collapsible-container">
        <div class="collapsible-content">
            <p>To numerically solve our PDE, we have to use a method that approximates the spatial derivatives in the Laplacian. There are several ways of doing this, of varying complexity. We will focus on
                two specific approaches.
            </p>
            
            <h3>Finite Differences Approach</h3>
            <p>The finite differences approach is one commonly used method for discretizing and solving PDEs.</p>
            <p>Typically, this is visualized on a grid or mesh. You can imagine dividing the spatial domain into a grid, where each grid point represents a discrete location. (add figure)</p>
            <p>To discretize the Laplacian—for example, in two dimensions, we can use a formula that approximates the second derivatives with differences in function values at neighboring grid points:

            $$\nabla^{2}f \approx \frac{f(i+1,j)−2f(i,j)+f(i−1,j)}{(\Delta x)^{2}}
                + \frac{f(i,j+1)−2f(i,j)+f(i,j−1)}{(\Delta y)^{2}}$$

            where
            <ul>
                <li>\(f(i,j)\) represents the value of the function at grid point \((i,j)\), and</li>
                <li>\(\Delta x\) and \(\Delta y\) are the grid spacings/step size in the x and y directions, respectively.</li>
            </ul>
            </p>
            <p>This discrete approximation replaces the Laplacian operator in the PDE with a system of equations, allowing us to update the function \(f\) at each grid point over time.</p>
            <p>Finite differences methods can be classified into explicit and implicit schemes, each with its own advantages and limitations. They are particularly suitable for problems with regular geometries and straightforward boundary conditions.</p>
            <ul>
                <li><b>Pros:</b> Straightforward, easy to implement.</li>
                <li><b>Cons:</b> Not very accurate, is numerically unstable for certain combinations of time step sizes and spatial grid spacings, and is difficult to implement boundary conditions in.</li>
            </ul>
            </p>

            <h3>Crank-Nicholson Approach</h3>
            <p>The Crank-Nicholson method is another widely used approach for solving PDEs, including the Schrödinger equation.</p>
            <p>It is a semi-implicit method that combines both implicit and explicit time-stepping schemes, offering a balance between stability and accuracy. Crank-Nicholson is known for its:</p>
            <ul>
                <li><b>Pros:</b> High stability, high accuracy, and better for more complex systems.</li>
                <li><b>Cons:</b> More difficult to implement with more involved formulas.</ul>
            </ul>
            <p>When solving time-dependent problems with Crank-Nicholson, you can achieve accurate and stable results, especially for systems with varying potentials or wavefunctions.</p>
        </div>
    </div>

    <div class="content">
        <p>In the case of our Schrodinger equation, we are working in one dimension and are applying the Laplacian operator to our wavefunctions, hence our spatial discretization 
        formula for the Laplacian operator acting on a wavefunction is

        $$\nabla^{2}\psi \approx \frac{\psi_{i+1}-2\psi_{i}+\psi_{i-1}}{\Delta x^{2}}$$

        Now we can time discretize the complete Schrodinger equation in time with respect to some numerical method. Continue...
        </p>
    </div>
    <div class="content">
        <p>(add references/sources here)</p>
    </div>
</div>

<script>
    var coll = document.getElementsByClassName("collapsible");
    for (var i = 0; i < coll.length; i++) {
        coll[i].addEventListener("click", function() {
            var h2 = this.querySelector('h2'); // Select the h2 within the .collapsible div
            h2.classList.toggle("active"); // Toggle the active class on h2
            var content = this.nextElementSibling;
            if (content.style.maxHeight) {
                content.style.maxHeight = null;
            } else {
                content.style.maxHeight = content.scrollHeight + "px";
            }
        });
    }
</script>

</body>
</html>